option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_CONFIG_PRODUCTION: "false"
    NODE_OPTIONS: "--max-old-space-size=2048"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckTimeout: 30
    HealthCheckInterval: 15
    HealthyThresholdCount: 3
    UnhealthyThresholdCount: 5
