option_settings:
  # Configuración específica para nginx
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  
  # Configuración del proxy estático
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: dist/assets
    /assets: dist/assets
    
  # Configuración adicional de nginx
  aws:elasticbeanstalk:customization:
    CustomAvailabilityZones: Any 2
